.first-section {
  background-color: var(--background-color);
  padding: 50px;
  position: relative;
}

.social-icons {
  position: absolute;
  left: 0;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 100%;
}

.vertical-line {
  position: relative;
  width: 1px;
  height: 100%;
  background-color: var(--white);
}

.scroll-text {
  position: absolute;
  top: 40%;
  left: -40px;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 14px;
  color: var(--white);
  var(--white)-space: nowrap;
  z-index: 3;
  background-color: var(--background-color);
  width: 80px;
  text-align: center;
  font-size: 10px;
}

.social-icons svg {
  margin: 20px 0;
  color: var(--white);
  font-size: 20px;
}

.left-section,
.right-section {
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:600px) {
  .first-section {
    padding: 0;
  }

  .social-icons {
    top: 0
  }
}