.list-item-info {
  padding-left: 5px;
}

.list-item-info::before {
  content: "";
  background-color: var(--blue);
  display: inline-block;
  width: 3px;
  margin-left: -5px;
  height: 30px;
  margin-top: 9px;
  position: absolute;
}

.list-item-info span {
  font-size: 10px;
  color: var(--dark-gray);
}

.list-item-info p {
  font-size: 10px;
}

.list-item-info p,
.list-item-info span {
  padding-left: 15px;
}